# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
dist
dist-ssr
storybook-static
*.local

# non-accepted files
old.*
**/*.js
!src/**/*.js
!__tests__/**/*.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Files
.env.*
!.env

# Repo Template files
src-tauri/target
